
/* Global CSS file */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "General Sans";
    font-weight: 400;
    height: fit-content;
}

::selection{
    background-color: #fff;
    color: black;
}



html, body{
    width: 100%;
    height: 100%;
    background-color: black;
    color: #fff;

}

#pointer-cir{
    display: none;
    width: 10px;
    height: 10px;
    background-color: #fff;
    position: absolute;
    z-index: 999999;
    border-radius: 50%;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) .7s;
    pointer-events: none;
}

#main{
    width: 100%;
   
}


/* --------------------------------------------------------------------------- */



/* header */


.navbar{
    z-index: 9999;
    position: fixed;
    top: 0;
    width: 100%;
    /* background-color: rgba(255, 255, 255, 0.6); */
    background-color: black
}

#nav{
    height: 10%;
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
    width: 100%;
    padding: 40px 40px;
    /* color: #fff; */
    color: white;
    
}

#nav a{
    text-decoration: none;
    font-size: 18px;
    /* color: #fff; */
    color: white;
}

#my-name{
    font-weight: 900;
    transition: transform 1s ease, opacity 1s;
}

#my-name:hover{
    transform: scale(1.05);
    opacity: 0.6;
    
}

#nav h4{
    font-weight: 900;
    cursor: pointer;
    user-select: none;
}

#nav h4:hover{
    opacity: 0.6;
}

.ri-menu-line{
    display: inline-block;
    transition: transform 0.6s ease;
}

.ri-menu-line.rotate{
    transform: rotate(90deg);
}

/* #nav h4::after{
    content: '+';
    font-size: 1.2vw;
    display: inline-block;
    transition: transform 0.6s ease;
} */

/* #nav h4:active::after{
    transform: rotate(45deg);
} */

#menuContainer{
    width: fit-content;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* #menuContainer ul{ */
#clickMenu{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style: none;
    background-color: #fff;
    border-radius: 25px;
    top: 140%;
    right: -50%;
    left: -50%;
    transition: opacity 0.8s ease, visibility 0.8s ease;
    opacity: 0;
    visibility: hidden;
    /* transform: translate(-50%,-50%); */
    pointer-events: none;
    
}

#clickMenu.activateMenu{
    visibility: visible;
    opacity: 100%;
    transition: opacity 2s ease;
    pointer-events: all;
}

/* ----------------------- */


#clickMenu a:not(:last-child){
    border-bottom: 1px solid black;
    
}


#clickMenu a{
    width: 100%;
   text-decoration: none;
    transition: color 0.5s;
    text-align: center;
}


#clickMenu li{
    padding: 1vw;
    font-weight: 900;
    font-size: 15px;
    color:black;
    transition: color 0.5s;
}
#clickMenu li:hover{
    background-color: rgba(8, 8, 8, 0.2);
    color: #444;
}



/* -------------------------------------------------------------------------- */

/* footer */

.footerContainer{
    position: absolute;
    width: 100%;
    height: 15vh;
    bottom: 0;   
    padding: 40px 0px 40px 0px;
    display: flex;
    flex-direction: column;
    align-items: start;
}


#footer{
    padding: 0px 40px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#footerleft{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

#footerleft h5{
    font-size: 1vw;
    font-weight: 500;
    text-transform: uppercase;
}

#footerright{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px; 
}


#footerright a{
    text-decoration: none;
    color: #fff;
    font-size: 1vw;
    font-weight: 500;
    text-transform: uppercase;
    transition: transform 1s ease-in-out, opacity 1s;
    text-align: center;
    
}

#footerright a i{
    font-size: 25px;
}

#footerright a i:hover{
    opacity: 0.6;
}

#footerright a:hover{
    transform: scale(1.2);
    
}

#weekday{
    cursor: pointer;
}
#weekday:hover{
    color: grey;
    user-select: none;
    -webkit-user-select: none;
}


#footer_bottom{
    /* position: absolute; */
    padding: 0px 40px;
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.lang-name{
    
    font-size: 12px;
    color: #888;
}
/* --------------------------------------------------------------------------------------------------------------------- 