*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "General Sans";
    font-weight: 400;
    height: fit-content;
}



/* ::selection{
    background-color: #fff;
    color: black;
}

::-webkit-scrollbar{
    display: inline
} */

body{
    /* -ms-overflow-style: none;  */
    scrollbar-width: 5px;
}

html, body{
    width: 100%;
    height: 100%;
    background-color: black;
    color: #fff;

}

#pointer-cir{
    display: none;
    width: 10px;
    height: 10px;
    background-color: #fff;
    color: brown;
    position: absolute;
    z-index: 999;
    border-radius: 50%;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) .7s;
}

#main{
    width: 100%;
    padding-bottom: 40px;
}

/* --------------------------------------------------------------------------- */

/* Hero Section */

#hero{
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: black;
    color: #fff;
}

/* .navbar{
    z-index: 999;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: black;
} */

#nav{
   
    display: flex;
    align-items: centers;
    justify-content: space-between;
    width: 100%;
    padding: 40px 40px;
    color: #fff;
}

#nav a{
    text-decoration: none;
    font-size: 18px;
    color: #fff;
}

#my-name{
    font-weight: 900;
}

#heading{
    margin-top: 90px;
}

.bounding{
    width: fit-content;
    /* background-color: #888; */
    overflow: hidden;
}

.bounding .boundingelem{
    transform: translateY(100%);
}

#heading h1{
    margin-left: 40px;
    font-family: 'General Sans Medium';
    font-size: 10vw;
    line-height: 0.9;
    text-transform: uppercase;
    font-weight: 400;
    opacity: 0.6;
   
}


#heading h1::selection{
    background-color: white;
    color: black;
    user-select: text;
   
}

#heading #secondh1{
    margin-left: 230px;
}

.blocktext{
    display: flex;
    flex-direction: column;
    align-items: end;
    width: fit-content;

}

.blocktext h5{
    font-size: 17px;
    text-transform: uppercase;
    font-weight: 500;
    text-align: end;
    line-height: 3;
}

.blocktext h5::selection{
    background-color: white;
    color: black;
}

#section3{
    width: 100%;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: end;
}

#section3 h5{
    font-size: 1vw;
    text-transform: uppercase;
    margin-top: 10px;
    margin-right: 40px;
    
}

#herofooter{
    padding: 0 3vw;
    display: flex;
    width: 100%;
    position: absolute;
    bottom: 3%;
    text-transform: uppercase;
    justify-content: space-between;
    
}

#herofooter a{
    text-decoration: none;
    color: #fff;
   
}

#herofooter .circle{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 25px;
    background-color: #fff;
    opacity: .6;
    transition: transform 0.5s ease-in-out;
    cursor: pointer;
}

#herofooter .circle:hover{
    transform: scale(1.1);
}


/* arrow */
.ri-arrow-down-s-line{
   font-size: 20px;
}


#iconset{
    display: flex;
    color: black;
    gap: 5px;
}

/* ------------------------------------------------------------------------------------------------------------------------------- */



#second{
    padding: 40px 40px;
    padding-top: 200px;
    padding-right: 10vw;
    width: 100%;
    height: 100vh;
    background-color: black;
    color: white;
}

.elem{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 4vw 3vw;
    padding-right: 0%;
    border-top: 1px solid #888;
    
}

.elemlast{
    content: '';
    align-items: center;
    width: 100%;
    padding: 4vw 3vw;
    padding-right: 0%;
    border-top: 1px solid #888;
}

.elem h1:hover{
    opacity: 0.2;
    margin-left: 40px;
    cursor: pointer;
}

.elem h1{
    text-transform: uppercase;
    font-size: 7vw;
    font-weight: 500;
    opacity: 0.6;
    transition: 0.5s ease-in-out ;
}



/* -------------------------------------------------------------------------------------------- */
/* 3rd section */



#about{
    display: flex;
    align-items: start;
    color: #fff;
    padding-top: 60vw;
    padding-left: 38vw;
    width: 100%;
    gap: 90px;
}

#imageabout{
    display: flex;
    align-items: flex-start;
    /* cursor: none;     */
    cursor: url('https://cdn.custom-cursor.com/packs/9242/comics-the-dog-man-naomi-pack.png'),none;    

}

#about img{
    width: 230px;
    height: 230px;
    border-radius: 50%;
    object-fit: cover;
    align-self: flex-start;
    filter: grayscale(100);
    transition: all ease-in-out .5s;
    
}

#about img:hover{
    width: 230px;
    height: 230px;
    border-radius: 50%;
    object-fit: cover;
    align-self: flex-start;
    filter: none;
}

#textabout{
    width: 29rem   
}

#textabout h5{
    font-size: 0.9vw;
    font-weight: 500;
    text-transform: uppercase;
    opacity: .6;
    margin-bottom: 5px;
}

#textabout p{
    font-size: 1.2vw;
    line-height: 1.5;
   
}

#btn-lt{
    font-size: 1vw;
    padding: 6px 20px;
    background-color: black;
    color: #fff;
    border: 1px white solid;
    font-weight: 400;
    border-radius: 25px;
    cursor: pointer;
    transition: 0.5s ease-in-out;
}

#btn-lt:hover{
    background-color: #fff;
    color: black;
}


/* ------------------------------------------------------------- */

/* final section */
#subscribe{
    width: 100%;
    padding: 20px 40px;
    padding-bottom: 7vw;
    font-weight: 500;
    background-color: black;
    
}


#subscribe h5{
    text-transform: uppercase;
    opacity: .6;
}

#subscribe h3{
    width: fit-content;
     display: inline-block;
    position: relative;
    line-height: 2;
    font-weight: 600;
    font-size: 1.2vw;
    text-decoration: none;
    color: #fff;
    cursor: pointer;
    z-index: 1;
    transition: width 0.8s ease-in-out, color 1s; 

}

#subscribe h3::after{
    content: '';
    position: absolute;
    display: inline-block;
    left: 0;
    bottom: 0;
    width: 0;
    height: 100%;
    background-color: #fff;
    transition: width 0.5s ease-in-out;
    z-index: -1;
}



#subscribe h3:hover{
    padding-right: 10px; 
    color: black;
}




#subscribe h3:hover::after{
    width: 100%;
}

/* -------------------------------------------------------------------------- */

/* footer */

#footer{
    padding: 0px 40px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

#footerleft{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

#footerleft h5{
    font-size: 1vw;
    font-weight: 500;
    text-transform: uppercase;
}

#footerright{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px; 
}


#footerright a{
    text-decoration: none;
    color: #fff;
    font-size: 1vw;
    font-weight: 500;
    text-transform: uppercase;
    transition: transform 0.8s ease-in-out;
    text-align: center;
    
}

#footerright a i{
    font-size: 25px;
}

#footerright a i:hover{
    color: #999;
}

#footerright a:hover{
    transform: scale(0.9);
    
}

#weekday{
    cursor: pointer;
}
#weekday:hover{
    color: grey;
    user-select: none;
    -webkit-user-select: none;
}


#footer_bottom{
    padding: 0px 40px;
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.lang-name{
    
    font-size: 12px;
    color: #888;
}
/* --------------------------------------------------------------------------------------------------------------------- */

.custom-cursor {
    width: 20px;
    height: 20px;
    background-color: lightblue;
    border: 2px solid #333;
    border-radius: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    pointer-events: none; /* Ensure the cursor doesn't interfere with user interactions */
}

/* Style the cursor shape */
.custom-cursor::after {
    content: '';
    width: 10px;
    height: 10px;
    background-color: lightcoral;
    border: 2px solid #333;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}